
<div id="top-bar">
	<div class="inner">
		<ul class="linklist">
	
			<li class="icon1 small-icon" data-skip-responsive="true"><strong><a href="http://www.nuLEAFTech.com/">NuLEAF Technologies</a></strong></li>
			<li class="icon2 small-icon link"><a href="http://nuLEAFTech.com/forum/">Forums</a></li>

			<!-- IF S_USER_LOGGED_IN -->
				<li class="icon4 small-icon link rightside"><a href="./ucp.php?mode=logout">Sign Out</a></li>
			<!-- ELSE -->
				<li class="icon4 small-icon link rightside"><a href="./ucp.php?mode=login">Sign In</a></li>			
			<!-- ENDIF -->
			
		</ul>
	</div>
</div>
